entrypoint = "tradersmind/main.py"
modules = ["python-3.11"]
run = "cd tradersmind && pip install -q -r requirements.txt && python main.py"

[nix]
channel = "stable-23_11"

[deployment]
deploymentTarget = "vm"
build = ["sh", "-c", "cd tradersmind && pip install -r requirements.txt"]
run = ["sh", "-c", "cd tradersmind && python main.py"]

[[ports]]
localPort = 8080
externalPort = 80
